[Unit]
Description=Discord bot written in python for playing casino games
After=network.target mysql.service

[Service]
Type=simple
WorkingDirectory=[CHANGE ME]
ExecStart=[CHANGE ME]
Environment=PYTHONBUFFERED=1
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target